<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />

    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body>

<div data-role="page">
    <div data-role="header"><h1><%- title %></h1></div>
    <div id="fb-root"></div>

    <div data-role="content">
        <%- body %>
    </div>
</div>

</body>
</html>