include mixins

!!! 5
html
  head
    title Balances
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    mixin style('http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css')
    mixin style('styles.css')

    mixin script('http://connect.facebook.net/en_US/all.js')
    mixin script('http://code.jquery.com/jquery-1.6.4.min.js')
    mixin script('http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js')
    mixin script('http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js')
    mixin script('scripts.js')
    
  body
    #fb-root
    section!= body