div(data-role='page', data-theme='a')
  div(data-role='header', data-theme='a', data-position='fixed')
    h1 Balances

  div(data-role='content')

    // TODO: Is there a way to do this without using FBML?
    // TODO: Use CSS instead
    center
      fb:login-button(scope='email') Login with Facebook

    script
      $(function() {
          FB.init({
              appId: '133133700120767',
              cookie: true,
              status: true,
              xfbml: true
          });

          FB.login(function(response) {
            if (response.authResponse) {
              document.cookie = 'access_token=' + response.authResponse.accessToken;
              window.location.reload();
            }
          });
      });