// TODO: Is there a way to do this without using FBML?
// TODO: Use CSS instead

center
  fb:login-button(perms='email') Login with Facebook

script
  $(function() {
      FB.Event.subscribe('auth.login', function(response) {
        alert('Got login event');
        window.location.reload();
      });
  });