div(data-role='page', data-theme='a')
  div(data-role='header', data-theme='a', data-position='fixed')
    h1 Balances

  div(data-role='content')
    script
      $(function() {
          FB.init({
              appId: '133133700120767',
              status: true,
              xfbml: true
          });

          function authed(response) {
            document.cookie = 'access_token=' + response.authResponse.accessToken;
            window.location.reload();
          }

          function login() {
              FB.login(function(response) {
                if (response.authResponse)
                  authed(response);
              });
          }

          FB.getLoginStatus(function(response) {
            if (response.status === 'connected')
              authed(response);
            else
              login();
          });
      });
