mixin script(src)
  script(src=src)

mixin style(src)
  link(rel='stylesheet', href=src)

mixin balance(amount)
  - if (amount >= 0)
    span.balance.owed= '$' + decimalFormat(amount)
  - else
    span.balance.you_owe= decimalFormat(amount).replace('-', '-$')