<% title = 'Debts' %>
<p>You are logged in!!!</p>

<div id="name">&nbsp;</div>
<img id="image" src="" alt="" />

<script>
    $(function() {
        FB.api('/me', function(user) {
            if (user != null) {
                $('#image').attr('src', 'http://graph.facebook.com/' + user.id + '/picture');
                $('#name').html(user.name);
            }
        });
    });
</script>