<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>

    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body>

<div id="fb-root"></div>
<%- body %>

</body>
</html>